/*  Overall body styling */
body {
  margin: 0;
  padding: 0;
  /*font-family: '*/
  background-color: black;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR + SIDEBAR CSS  */

/* Top navbar container */
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 100%, 25%);
  color: white;
  padding: 15px 20px;
  position: relative;
  z-index: 200; /* make sure navbar is on top */
}

/* Hamburger icon - all devices */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  width: 30px;
  height: auto;
  z-index: 201;

}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 3px;
  display: block;
 
}

/*  Sidebar default hidden */
.sidebar {
  position: fixed;
  top: 60px;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: burlywood;
  color: #eb0a0a;
  padding-top: 20px;
  transition: left 0.3s ease;
  z-index: 100;
}

/* Sidebar open class */
.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #0059b3;
  border-radius: 5px;
}

/