/*  Overall body styling */
body {
  margin: 0;
  padding: 0;
  /*font-family: '*/
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR + SIDEBAR CSS  */

/* Top navbar container */
.navbar-header {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: hsl(33, 59%, 48%);
  ;
  color: rgb(14, 10, 10);
  padding: 15px 20px;
  border-radius: 20px;
  z-index: 50;

}

/* hamburger icon all devices */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  width: 30px;
  height: auto;
  z-index: 201;


}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  display: block;

}

/*  Sidebar default hidden */
.sidebar {
  position: fixed;
  top: 0px;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: hsl(33, 59%, 48%);
  color: #eb0a0a;
  padding-top: 50px;
  transition: left 0.3s ease;
  z-index: 100;

}

/* Sidebar open class */
.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: white;
  display: block;
}

.sidebar ul li a:hover {
  background-color: hsl(0, 0%, 0%);
  border-radius: 5px;
}

/*.signup .box{
  display: flex;
  background-color:#566083
  justify-content: center;
  align-items: center;
  height:55vh;
  color: hsl(0, 14%, 8%);
  font-size: 20px;
  padding: 30px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;  
}
*/
.signup .box {
  background-color: rgb(194, 176, 154);
  height: 55vh;
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  text-align: center;

}


.login .box {
  background-color: rgb(194, 176, 154);
  height: 45vh;
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  text-align: center;

}

.login input {
  margin-bottom: 10px;

}

.logout-span {
  display: block;
  cursor: pointer;
  color: white;
}